# Files and directories created by pub.
.vscode/
.dart_tool/
.packages

# Conventional directory for project outputs.
build/
doc/
coverage/
benchmark/**/*.exe
test/**/*.exe

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
