name: Test

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - lib/**
      - test/**
      - test_integration/**
      - pubspec.yaml
      - dart_test.yaml
      - analysis_options.yaml
      - .github/workflows/test.yml
  pull_request:
    branches: [master]
    paths:
      - lib/**
      - test/**
      - test_integration/**
      - pubspec.yaml
      - dart_test.yaml
      - analysis_options.yaml
      - .github/workflows/test.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            .dart_tool/package_config.json
          key: ${{ runner.os }}-test-${{ hashFiles('**/pubspec.lock') }}

      - name: Install dependencies
        run: dart pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze --fatal-infos

  test:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        sdk: ['stable', '2.19']
        platform: ['vm']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            .dart_tool/package_config.json
          key: ${{ runner.os }}-test-${{ hashFiles('**/pubspec.lock') }}

      - name: Install dependencies
        run: dart pub get

      - name: Run tests
        run: dart test -p ${{ matrix.platform }}

  integration:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        sdk: ['stable', '2.19']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            .dart_tool/package_config.json
          key: ${{ runner.os }}-test-${{ hashFiles('**/pubspec.lock') }}

      - name: Run tests
        run: |
          cd test_integration
          dart pub get
          dart run main.dart

  coverage:
    if: github.repository == 'bitanon/hashlib'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1

      - name: Install global packages
        run: |
          dart pub global activate coverage
          dart pub global activate cobertura
          dart pub global activate junitreport

      - name: Generate coverage
        run: bash ./scripts/coverage.sh

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/cobertura.xml
          fail_ci_if_error: true

      - name: Upload test results
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: test_results
          files: ./coverage/junit.xml
          fail_ci_if_error: true

